.badge-green { background-color: #5cb85c; }
.badge-yellow { background-color: #f0ad4e; }
.badge-red { background: #d9534f; }

input.form-control {
    padding: 20px 40px;
    color: #454B53;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    box-shadow: none;
}

.submit {
    display: block;
    background: #6563A4;
    text-align: center;
    padding: 30px 0;
}

.btn-submit {
    background: #6563A4;
    color: white;
}

img.full {
    width: 100%;
}

label {
    border: 0;
    padding: 20px 40px 0 40px;
    color: lightgray;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}